<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Member Login</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <div class="container">
        <div class="right">
            <h1>Library Home Page</h1>
            <table align="center" style="width: 50%;">
                <tr>
                    <td align="center">
                        <a href="/register">Sign_up for Member User</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="/login">Member Login</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="/admin">Administrator Login</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="left">
            <img class="center-image" src="/images/book1.jpeg" alt="Image 1">
        </div>

        <footer>
            <small>V 1.0 © Aptech Limited</small>
        </footer>
    </div>
</body>
</html>
